<div class="center jumbotron">
  <h2>Welcome to howmanyeffs</h2>

  <h3>
    This is the home page for
    <a href="http://www.howmanyeffs.com">howmanyeffs.com</a>,
    a sample application operating under version control at <a href="https://github.com/sponee/how_many_effs">Github</a>.
  </h3>
  <p>
 	This site is under contruction. Check back soon.
  </p>
</div>