<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link(:url => http://www.sofarzsogood.com, :text => "Go Back", :popup => true) %>
        <li><%= link_to "Help", help_path %></li>
      </ul>
    </nav>
  </div>
</header>
